[submodule "Blockchain/FoundrySimpleStorage/lib/forge-std"]
	path = Blockchain/FoundrySimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Blockchain/FoundryFundMe/lib/forge-std"]
	path = Blockchain/FoundryFundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Blockchain/FoundryFundMe/lib/chainlink-brownie-contracts"]
	path = Blockchain/FoundryFundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/FoundryFundMe/lib/chainlink-local"]
	path = Blockchain/FoundryFundMe/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "Blockchain/FoundryFundMe/lib/chainlink-evm"]
	path = Blockchain/FoundryFundMe/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
