<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(bird,index) in birds" :class="bird" :key="bird">
        {{bird}} - {{index}}
      </li>
      <li v-for="person in people">
        <div v-for="(value,key,index) in person">
          {{key}}: {{value}} - Index: {{index}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>