<!DOCTYPE>
<html>

<head>
  <title>VueJS</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <p v-if="mode==1">Showing v-if directive content</p>
    <template v-else-if="mode==2">
      <p>Bonus content</p>
      <h3>v-else-if</h3>
    </template>
    <p v-else>v-else</p>

    <i v-show="mode==1">v-show</i>
    
    <select v-model="mode">
      <option value="1">v-if</option>
      <option value="2">v-else-if</option>
      <option value="3">v-else</option>
    </select>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>